<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="sideNav.toggle()" fxShow="true" fxHide.gt-sm>
        	<mat-icon>menu</mat-icon>
     	 </button>
		<span class="logo"><a routerLink="/admin">Job Portal - Admin</a></span>
		<span class="menu-spacer"></span>
		<div class="main-menu" fxShow="true" fxHide.lt-md *ngIf="user && user.role == 'Administrator'">
			<a mat-button [matMenuTriggerFor]="users">
				<mat-icon>people</mat-icon>
				Employers & Admins
			</a>
			<mat-menu #users="matMenu" yPosition="below" xPosition="after">
				<a mat-menu-item routerLink="/admin/user/list"><mat-icon>list</mat-icon>&nbsp;User List</a>
				<a mat-menu-item routerLink="/admin/user/create"><mat-icon>add</mat-icon>&nbsp;Create New User</a>
			</mat-menu>			
		</div>
		<span class="spacer"></span>
		<div class="main-menu" fxShow="true" fxHide.lt-md *ngIf="!user">
			<a mat-raised-button routerLink="/">View Job Posting</a>
			<a mat-button routerLink="/admin/login">Login</a>
		</div>	
		<div class="main-menu" fxShow="true" fxHide.lt-md *ngIf="user">
			<a mat-raised-button routerLink="/">View Job Posting</a>
			<a mat-button [matMenuTriggerFor]="myAccount">
				<mat-icon class="mat-icon-lg my-account-icon">account_circle</mat-icon>
			</a>
			<mat-menu #myAccount="matMenu" yPosition="below" xPosition="after">
				<a mat-menu-item routerLink="/admin/profile"><mat-icon>perm_identity</mat-icon>&nbsp;My Profile</a>
				<a mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</a>
			</mat-menu>
		</div>	
	</mat-toolbar-row>
</mat-toolbar>